/* Navigation styles */
.navbar {
  padding: 1rem;
  background-color: #fff;
  .nav-link {
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    color: rgba(0,0,0,0.7);
  }
  .nav-link-outline {
    display: inline-block;
    border: 2px solid;
    padding: .38rem .5rem;
  }
}
.navbar-light {
  .navbar-nav .nav-link {
    color: rgba(0,0,0,0.6);
    &:hover{
      color: rgba(0,0,0,1);
    }
  }
  .navbar-nav .active>.nav-link {
    color: rgba(0,0,0,1);
  }
  .navbar-toggler {
    border: 0;
    outline: none;
  }
}
