/* Home page hero sectio */
.home-hero {
  //padding-bottom: 1.25rem;
  padding-bottom: 0;
  background-color: $mainlight;
  .home-hero-left {
    h1{
      text-align: center;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
    }
    button, p {
      display: none;
    }
  }

  .home-hero-right {
    form{
      max-width: 700px;
      background: #fff;
    }
  }
}
.landing-form {
  .form-fields {
    justify-content: flex-start;
  }
  .field {
    flex: 1 1 280px;
    margin: 0 .625rem 1rem;
  }
}
.landing-form-upper {
  padding: 2rem;
  background: #fbfafa;
}
.landing-form-lower {
  padding: 1rem 2rem 2rem;
}
.landing-form-lower-footer {
  display: flex;
  align-items: flex-start;
  margin: 1.5rem 0 1rem;
  .security-logo {
    flex-shrink: 1;
    margin: 0 .625rem;
    color: #444;
    font-size: .625rem;
  }
}
.range-slider-monhly-label {
  margin-bottom: 0!important;
}
.monthly-installment {
  color: $blue;
  font-weight: bold;
}
.landing-form-upper .bouncing-loader, .loan-form-upper .bouncing-loader {
  display: none;
}
@media only screen and (max-width: 420px) {
  .home-hero-right {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .landing-form-lower-footer {
    flex-direction: column;
    align-items: center;
    .security-logo {
      order: 2;
      flex: 1 1 100%;
      margin: 0
    }
    .broker-btn {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}
@media only screen and (min-width: 501px) {
  .landing-form {
    .field {
      flex: 1 0 175px;
    }
  }
  .landing-form-lower-footer {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .landing-form .field {
    margin: 0 0 1rem;
  }
}
@media only screen and (min-width: 501px) and (max-width: 768px) {
  .landing-form .field {
    margin: 0 .625rem 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .home-hero {
    position: relative;
    min-height: 600px;
    align-items: center;
    background: url(../images/hero-bg2.jpg) no-repeat;
    background-position: 50% 10%;
    background-size: cover;
    .landing-form {
      min-height: 400px;
      .field {
        flex: 1 0 200px;
      }
      .landing-form-lower-footer {
        justify-content: space-between;
      }
    }
    .home-hero-left {
      color: #fefefe;
      h1{
        text-align: left;
        margin-top: 0;
        margin-bottom: .5rem;
        font-size: 1.75rem;
      }
      button, p {
        display: block;
      }
    }
    .home-hero-right {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0,0,0,0.2);
    }
  }
  .monthly-installment {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 769px) {
  .landing-form-upper, .loan-form-upper {
    position: relative;
    .landing-component {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }
    .bouncing-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      margin-top: 0;
      margin-left: -40px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 920px) {
  .landing-form-lower-footer {
    flex-direction: column;
    align-items: center;
    button {
      flex: 1 1 100%;
      width: 100%;
      margin-bottom: 1rem;
    }
    .security-logo {
      order: 2;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .home-hero-right {
    padding-top: 0;
    padding-bottom: 0;
  }
  .landing-form-lower-footer {
    padding: 0 .5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .home-hero {
    padding: 3rem 10%;
  }
}

@media only screen and (min-width: 1650px) {
  .home-hero-left {
    p {
      max-width: 80%;
    }
  }
}
