/* Home page hero sectio */
.home-hero {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e1e1e1;
  .home-hero-left {
    h1{
      text-align: center;
    }
    button, p {
      display: none;
    }
  }
  .home-hero-right form{
    max-width: 700px;
    background: #fff;
  }
}
.landing-form {
  .form-fields {
    justify-content: flex-start;
  }
  .field {
    flex: 0 0 200px;
    margin: 0 .625rem 1rem;
  }
}
.landing-form-upper {
  padding: 2rem;
  background: #fbfafa;
}
.landing-form-lower {
  padding: 1rem 2rem 2rem;
}
.landing-form-lower-footer {
  display: flex;
  align-items: flex-start;
  margin: 1.5rem 0 1rem;
  .landing-terms {
    flex-shrink: 1;
    margin: 0 .625rem;
    color: #444;
    font-size: .625rem;
  }
}
.range-slider-monhly-label {
  margin-bottom: 0!important;
}
.monthly-installment {
  color: $blue;
  font-size: 1.25rem;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .home-hero {
    min-height: 400px;
    align-items: center;
    .landing-form {
      min-height: 400px;
    }
    .home-hero-left {
      h1{
        text-align: left;
      }
      button, p {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .home-hero {
    padding: 3rem 10%;
  }
}

@media only screen and (min-width: 1650px) {
  .home-hero-left {
    p {
      max-width: 80%;
    }
  }
}
