.show-large{
  display: none;
}
.offers-listing-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.offer-list-head {
  margin: 2rem 0;
}
.loan-offer-container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: .875rem 0;
  border: 1px solid $bluegray;
}
.loan-offer-head {
  display: flex;
  align-items: center;
  position: relative;
  padding: .375rem;
  border-bottom: 1px solid #d7d7d7;
  .loan-offerer-logo {
    max-width: 75px;
  }
  span {
    display: block;
    line-height: 1;
  }
  .loan-offerer-info {
    margin-left: 1rem;
  }
  .loan-offerer-website {
    display: none;
    font-size: 0.75rem;
    color: #a1a1a1;
  }
}
.affiliate-offer-container {
  .loan-offer-footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loan-offer-head{
    min-height: 60px;
    .loan-offerer-website {
     display: block;
    }
  }
}
.text-focus {
  position: absolute;
  top: 6px;
  right: 7px;
  .name {
    font-size: .875rem;
    color: #a1a1a1;
  }
  .value {
    font-size: 1.05rem;
    font-weight: bold;
    color: $blue;
  }
}
.loan-offer-body {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  margin: 1rem 0;
  span {
    margin: .125rem 1rem;
    font-size: 1rem;
  }

}
.loan-offer-footer {
  padding: 0;
  .loan-offer-cta {
    width: 100%;
  }
}
.personal-offer-container.featured {
  position: relative;
  order: 0;
  border: 3px solid $gold;
  .badger {
    position: absolute;
    top: -30px;
    left: -3px;
    width: 100px;
    height: 30px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    background: $gold;
    color: #000;
  }
  &:first-child {
    margin-top: 2.125rem;
  }
}
.offers-list-heading {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #d0d0d0;
}
.affiliate-offer-container {
  .loan-offer-head {
    justify-content: center;
  }
  .loan-offer-body {
    span {
     flex: 0 0 100%;
     text-align: center;
   }
  }
}

@media only screen and (min-width: 360px) {
  .loan-offerer-website {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .offer-list-head {
    margin: 3rem 0;
  }
  .personal-offer-container .loan-offer-body span {
    flex: 0 0 146px;
  }

}

@media only screen and (min-width: 769px) {
  .show-mobile{
    display: none;
  }
  .show-large{
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .offer-list-head {
    margin: 4rem 0;
  }
  .loan-offer-container {
    flex-direction: row;
    padding: 0;
  }
  .loan-offer-head {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1rem;
    border-bottom: 0;
    .loan-offerer-logo-container {
      margin-bottom: .1875rem;
    }
    .loan-offerer-info {
      margin-left: 0;
      .loan-offerer-name {
        display: none;
      }
    }
  }
  .loan-offer-body {
    position: relative;
    justify-content: center;
  }
  .loan-offer-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 200px;
    padding: .5rem;
    background: #ececec;
    .text-focus {
      position: static;
      margin-bottom: .375rem;
      text-align: center;
      span{
        flex: none;
        margin: 0;
        font-size: 1rem;
      }
    }
    .broker-btn-gold {
      width: auto;
      padding: 1rem;
    }
  }
  .affiliate-offer-container {
    .loan-offer-head {
      flex-direction: column;
      flex: 0 0 140px;
      padding: 0 0 0 2rem;
    }
    .loan-offer-body span {
      font-size: .875rem;
    }
    .loan-offer-footer {
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .loan-offer-head {
    flex-direction: row;
    align-items: center;
    .loan-offerer-logo-container {
      margin-bottom: 0;
    }
    .loan-offerer-info {
      margin-left: 1.5rem;
      .loan-offerer-name {
        display: block;
      }
    }
  }
  .loan-offer-body {
    margin-left: 2rem;
    justify-content: center;
  }
  .affiliate-offer-container {
    .loan-offer-head {
      flex-direction: row;
      flex: 0 0 250px;
      padding-right: 0;
    }
    .loan-offer-body {
      margin-left: 0;
    }
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
  .loan-offer-body {
    max-width: 400px;
  }
  .affiliate-offer-container .loan-offer-body {
    flex: 0 0 328px;
    max-width: 295px;
  }
}
