.landing-component {
  .landing-slider {
    display: flex;
    .landing-form-adjust {
      width: 43px;
      height: 43px;
      padding: 0;
      background: $blue;
      color: #FFF;
      font-size: 36px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      touch-action: manipulation;
    }

    .landing-form-adjust.disabled {
      background-color: $bluegray;
    }
  }
  select {
    flex-grow: 1;
    padding: 9px;
    border: 0;
    &:focus {
      outline: none;
    }
  }
  input {
    display: none;
  }
}
.range-slider-label {
  margin: 1rem 0 0;
  font-weight: bold;
}
.range-slider-monhly-label {
  display: inline-block;
  margin-top: 1.25rem;
  font-weight: normal;
  span {
    display: block;
  }
}
.rangeslider--horizontal {
  display: none;
}
.rangeslider--horizontal {
  display: none;
}
.rangeslider--horizontal {
  display: none;
}

@media only screen and (min-width: 375px) {
  .range-slider-monhly-label span {
    display: inline-block;
  }
}
@media only screen and (min-width: 769px) {
  .rangeslider, .rangeslider__fill {
    display: block;
  }
  .rangeslider {
    position: relative;
    background: #e6e6e6;
  }
  .rangeslider--horizontal {
    display: inline-block;
    height: 6px;
    width: 75%;
  }
  .rangeslider__fill {
    position: absolute;
    background: $blue;
  }
  .rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
  }
  .rangeslider__handle {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $blue;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .rangeslider--horizontal .rangeslider__handle {
    top: -9px;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
  }
  .rangeslider__handle:hover, .rangeslider__handle:active {
    box-shadow: 0 0 0 6px rgba(0, 151, 213, 0.3), 0 0 0 0px $blue;
    transition: box-shadow 0.2s ease-in-out;
  }

  .range-slider-value {
    position: relative;
    display: inline-block;
    width: 20%;
    margin-left: 3%;
    padding: 8px 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .range-slider-label {
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: normal;
  }
  .landing-component input {
    display: block;
  }
  .landing-component .landing-slider {
    align-items: baseline;
  }
  .landing-component .landing-form-adjust {
    display: none;
  }
}

@media only screen and (min-width: 1150px) {
  .range-slider-select-value {
    padding-left: 10px;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  .landing-component select {
    -webkit-appearance: none;
    border-radius: 0;
  }
}
