{% extends 'base.twig' %}
{% block title %}New application{% endblock %}
{% block container %}
<div class="col-sm-6 mx-auto">
    {% if errors %}
        <p>Following errors occurred:</p>
        <ul>
            {% for key,error in errors %}
                <li>{{ key }} => {{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<form method="POST" class="loan-form">
  <div class="loan-form-upper">
    {% include '$sliders.twig' %}
  </div>
  <div class="form-block form-block-personal">
    <p>Personal information</p>
    <div class="field text pin">
      <label for="">Insert your personal ID*</label>
        <input type="text" name="pin" id="pin"/>
    </div>
    <div class="field text firstName">
      <label for="">Insert your first name*</label>
        <input type="text" name="firstName" id="firstName"/>
    </div>
    <div class="field text lastName">
      <label for="">Insert your last name*</label>
        <input type="text" name="lastName" id="lastName"/>
    </div>
    <div class="field text email">
      <label for="">Insert your email*</label>
        <input type="text" name="email" id="email"/>
    </div>
    <div class="field select mobilePhoneType">
      <select name="mobilePhoneType">
        <option value>Choose your phone type</option>
        <option value="Mobile">Mobile phone</option>
        <option value="Home">Home number</option>
        <option value="Work">Work phone</option>
      </select>
    </div>
    <div class="field text phone">
      <label for="">Insert your phone number*</label>
        <input type="text" name="phone" id="phone"/>
    </div>
    <div class="field text documentNr">
      <label for="">Insert your document number*</label>
        <input type="text" name="documentNr" id="documentNr"/>
    </div>
    <div class="field select maritalStatusType">
      <select name="maritalStatusType">
        <option value>Choose your marital status</option>
        <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Widow">In a relationship</option>
        <option value="Divorced">Divorced</option>
        <option value="Widow">Widow</option>
      </select>
    </div>
    <div class="field select educationType">
      <select name="educationType">
        <option value>Choose you education</option>
        <option value="ElementarySchoolCurrent">Elementary</option>
        <option value="VocationalSchool">Vocational</option>
        <option value="Bachelor">Bachelor's degree</option>
        <option value="Master">Master's degree</option>
        <option value="LicentiateOrDoctor">Doctor</option>
        <option value="Unknown">Other</option>
      </select>
    </div>
  </div>
  <div class="form-block form-block-housing">
    <p>Housing information</p>
    <div class="field select educationType">
      <select name="residentialType" id="residentialType">
        <option value>Choose housing type</option>
        <option value="Rental">Rental</option>
        <option value="Own">Own</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="field text propertyType">
      <label for="">Insert the propery type*</label>
        <input type="text" name="propertyType" id="propertyType"/>
    </div>
    <div class="field text street">
      <label for="">Insert the street name*</label>
        <input type="text" name="street" id="street"/>
    </div>
    <div class="field text houseNr">
      <label for="">House number*</label>
        <input type="text" name="houseNr" id="houseNr"/>
    </div>
    <div class="field text apartmentNr">
      <label for="">Appartment number*</label>
        <input type="text" name="apartmentNr" id="apartmentNr"/>
    </div>
    <div class="field text city">
      <label for="">Insert city*</label>
        <input type="text" name="city" id="city"/>
    </div>
    <div class="field text zip">
      <label for="">ZIP*</label>
        <input type="text" name="zip" id="zip"/>
    </div>
  </div>
    <!--
    <div class="field text loanAmount">
      <label for="">Insert the loan amount</label>
        <input type="text" name="loanAmount" id="loanAmount"/>
    </div>
    <div class="field text loanTerm">
      <label for="">Insert the loan duration</label>
        <input type="integer" name="loanTerm" id="loanTerm"/>
    </div> -->
  <div class="form-block form-block-income">
    <p>Income information</p>
    <div class="field select sourceType">
        <select name="sourceType">
            <option value>Choose income type</option>
            <option value="Employed">Employed</option>
            <option value="Student">Student</option>
            <option value="NormalPension">NormalPension</option>
            <option value="DisabilityPension">DisabilityPension</option>
            <option value="Unemployed">Unemployed</option>
            <option value="BenefitOrAlimony">BenefirOrAlimony</option>
            <option value="SelfEmployed">SelfEmployed</option>
            <option value="Farmer">Farmer</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="field select position">
        <select name="position">
            <option value>Choose position</option>
            <option value="Specialist">Specialist</option>
            <option value="Middlemanagement">Middle management</option>
            <option value="Uppermanagement">Upper management</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="field text trade">
      <label for="">Insert your occupation</label>
        <input type="text" name="trade"/>
    </div>
    <div class="field text employerName">
      <label for="">Insert your employer's name</label>
        <input type="text" name="employerName" id="employerName"/>
    </div>
    <div class="field text currentStudy">
      <label for="">Insert the school's name</label>
        <input type="text" name="currentStudy" id="currentStudy"/>
    </div>
    <div class="field text netPerMonth">
      <label for="">Insert your monthly net income</label>
        <input type="text" name="netPerMonth" id="netPerMonth"/>
    </div>
    <div class="field select position">
        <select name="monthSince" id="monthSince">
            <option value>Choose starting month</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
    </div>
    <div class="field text yearSince">
      <label for="">Insert starting year</label>
        <input type="text" name="yearSince" id="yearSince"/>
    </div>
  </div>
  <div class="form-block form-block-account">
    <p>Account information</p>
    <div class="field select accountType">
      <select name="accountType" id="accountType">
          <option value>Choose account type</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
      </select>
    </div>
    <div class="field text accountNr">
      <label for="">Insert account number</label>
        <input type="text" name="accountNr" id="accountNr"/>
    </div>
    <div class="field text accountHolder">
      <label for="">Insert account holder name</label>
        <input type="text" name="accountHolder" id="accountHolder"/>
    </div>
  </div>
  <div class="form-block form-block-additional">
    <p>Additional information</p>
    <div class="field select loanPurposeType">
      <select name="loanPurposeType" id="loanPurposeType">
          <option value>Choose the loan purpose</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
      </select>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
