{% extends 'base.twig' %}
{% block title %}Thank you{% endblock %}
{% block container %}
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <p>We've forwarded your application to the loan provider. You can expect them to contact you within 3 days.</p>
      </div>
    </div>
  </div>
{% endblock %}