{% extends 'admin.twig' %}
{% block title %}Login to continue{% endblock %}
{% block container %}
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-lg-3">
      <h4 class="login-header">Log in to continue</h4>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" class="logout" onclick="signOut();">Logout</a>
    </div>
  </div>
{% endblock %}
{% block endBody %}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script type="application/javascript">
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      var id_token = googleUser.getAuthResponse().id_token;

      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/admin/login');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        var response = JSON.parse(xhr.responseText);
        if (response.error)
        {
          console.log(response.error);
        }
        else if (response.success) {
          window.location.href = '/admin/partners';
        }
      };
      xhr.send('idToken=' + id_token + '&email=' + profile.getEmail());
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>
{% endblock %}
