{% extends 'admin.twig' %}
{% block title %}Login{% endblock %}
{% block container %}
  <div class="container">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" class="mt-5" onclick="signOut();">Logout</a>
  </div>
{% endblock %}
{% block endBody %}
  <script type="application/javascript">
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      var id_token = googleUser.getAuthResponse().id_token;

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/admin/login');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        var response = JSON.parse(xhr.responseText);
        if (response.error)
        {
          console.log(response.error);
        }
        else if (response.success) {
          window.location.href = '/admin';
        }
      };

      var params = {
        'idToken': id_token,
        'email': profile.getEmail(),
        '{{csrf.keys.name}}': '{{csrf.name}}',
        '{{csrf.keys.value}}': '{{csrf.value}}'
      };

      var urlParams = new URLSearchParams();
      for (var [key, val] of Object.entries(params)) {
        urlParams.append(key, val);
      }

      xhr.send(urlParams.toString());
    }
  </script>
{% endblock %}
