{% extends 'admin.twig' %}
{% block title %}All Partners{% endblock %}
{% block container %}
    <h3>Partners</h3>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Commission</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for partner in partners %}
        <tr>
          <td>{{ partner.id }}</td>
          <td>{{ partner.name }}</td>
          <td>{{ partner.commission }}</td>
          <td class="text-right"><a href="/admin/partners/{{ partner.id }}">Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p><a class="btn broker-btn broker-btn-blue" href="/admin/partners/new">Add new partner</a></p>
{% endblock %}
