<IfModule !mod_rewrite.c>
  Order Deny,Allow
  Deny from All
  Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
  RewriteCond %{HTTP_HOST} !^localhost [NC]
  RewriteCond %{HTTP:X-Forwarded-Proto} !=https [NC]
  RewriteCond %{HTTPS} !=on [NC]
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301]

  # Do not allow access to /conf/ directory
  RewriteRule (.*) https://%{HTTP_HOST}/ [R=301,L]
</IfModule>
