/* VARS */
$gray: #c7c6c8;
$blue: #0097d5;
$accept: #07b846;
$hold: #ffc328;
$error: #e00404;

/* TYPOGRAPHY */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6, p, span, a, strong, button, input, textarea, table {
  font-family: 'Lato', sans-serif;
}
h3 {
  margin: 1rem 0 3rem;
  text-align: center;
}
h4 {
  font-size: 1.25rem;
}
.login-header {
  margin: 1rem 0;
}
.logout {
  display: block;
  padding-top: .5rem;
}
/* IMPORTS */
@import "../../sass/header";
@import "tables";

.navbar {
  padding: 1rem;
}
/* BASIC STYLES */
.broker-btn {
  padding: .675rem 3rem;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
  }
}
.broker-btn-blue {
  color: #fff;
  background: $blue;
  &:hover {
    color: #fff;
  }
}
.container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #333;
}
.nav-item.active a {
  border-bottom: 2px solid $blue;
}

/* ADMIN LOGIN PANEL */
.login-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f3f3f3;
  text-align: center;
  .abcRioButton {
    margin: 33px auto 15px;
  }
}
.login-info {
  font-size: 0.875rem;
}


/* DASHBOARD */
.loan-stats-wrap {
  margin-bottom: 4rem;
}
.loan-stats-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #f8f8f8;
  p:first-child {
    font-weight: bold;
  }
  p {
    margin: 0;
  }
  .date-select {
    display: inline-block;
    margin: 0 .5rem;
    font-weight: bold;
    color: $gray;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
  .date-select.active, .date-select:hover {
    border-bottom: 2px solid $blue;
    color: #333;
  }
}
.loan-stats-body {
  position: relative;
  background: #f2f2f2;
}
.stat-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.stat-box {
  position: relative;
  flex: 1 0 100%;
  padding-top: 35%;
  .stat-box-content {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
  }
  .amount {
    display: none;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
  }
  .amount.show {
    display: block;
  }
  .name {
    font-weight: bold;
  }
  .stat-box-content-accepted {
    .amount{
      color: $accept;
    }
  }
  .stat-box-content-paid-out {
    .amount{
      color: $blue;
    }
  }
  .stat-box-content-rejected {
    .amount{
      color: $error;
    }
  }
  .stat-box-content-in-process {
    .amount{
      color: $hold;
    }
  }
}
.stats-line {
  position: absolute;
  bottom: -6px;
  left: 15px;
  width: 100%;
  display: flex;
  margin: 0 -15px;
  .stats-line-item {
    display: inline-block;
    height: 9px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .stats-accepted {
    background: $accept;
  }
  .stats-paid-out {
    background:  $blue;
  }
  .stats-rejected {
  background: $error;
  }
  .stats-in-process {
    background: $hold;
  }
}

@media only screen and (min-width: 768px) {
  .stat-box {
    flex: 0 0 20%;
    padding-top: 22%;
  }
}

@media only screen and (min-width: 1024px) {
  .stat-box {
    padding-top: 16.5%;
  }
}
