{% extends 'base.twig' %}
{% block title %}About{% endblock %}
{% block container %}
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>Loan broker</h1>
  </section>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-5">
    <section class="row home-how ">
      <div class="col-sm-12 col-lg-10 circle-block">
        <div class="circle-block-icon"><img src="src/images/step_icon.svg" alt="Step"></div>
        <div class="circle-block-text">
          <span class="circle-block-step text-uppercase">Step 1</span>
          <p class="circle-block-heading"><strong>Fill in the application</strong></p>
          <p class="circle-block-description">Bring to the table win-win survival strategies to ensure proactive domination.</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-10 circle-block">
        <div class="circle-block-icon"><img src="src/images/step_icon.svg" alt="Step"></div>
        <div class="circle-block-text">
          <span class="circle-block-step text-uppercase">Step 2</span>
          <p class="circle-block-heading"><strong>Choose the best offer</strong></p>
          <p class="circle-block-description">Bring to the table win-win survival strategies to ensure proactive domination.</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-10 circle-block">
        <div class="circle-block-icon"><img src="src/images/step_icon.svg" alt="Step"></div>
        <div class="circle-block-text">
          <span class="circle-block-step text-uppercase">Step 3</span>
          <p class="circle-block-heading"><strong>Get the money</strong></p>
          <p class="circle-block-description">Bring to the table win-win survival strategies to ensure proactive domination.</p>
        </div>
      </div>
    </section>
  </div>
  <div class="col-sm-12 col-lg-7">
    <p><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Vivamus imperdiet malesuada arcu, a placerat ipsum dictum ut. Donec faucibus elementum purus ut placerat. Cras sollicitudin, arcu non rhoncus rutrum, mauris velit commodo tellus, nec fringilla augue tellus non neque. Fusce iaculis mattis sodales. Nam tortor eros, aliquet ac porta quis, blandit sit amet enim. Donec sed urna sit amet arcu sodales hendrerit. Aliquam odio magna, egestas accumsan laoreet ut, pellentesque et tortor. Donec elementum imperdiet libero id posuere. Suspendisse id euismod sem. </p>
    <p><strong>Vestibulum ante</strong> ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras vel nunc eget dolor viverra cursus. Curabitur maximus nunc at elit blandit, at rhoncus risus convallis. Mauris consequat leo vitae metus facilisis aliquam vitae id tellus. Vivamus vel nibh ullamcorper, sollicitudin nisl sed, faucibus eros. </p>
    <p><strong>Proin a orci vel libero</strong> luctus mattis at ac risus. Integer congue, eros a facilisis placerat, urna ligula varius massa, non suscipit diam ligula vitae erat. Maecenas ex ante, rutrum vel leo ac, dictum dignissim est. Donec posuere scelerisque tellus, a accumsan ex. Integer tellus eros, efficitur et rhon cus quis, mattis eu eros. Curabitur nec justo eget magna porttitor bibendum quis.</p>
  </div>
</div>
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>About us</h1>
  </section>
</div>
<div class="row justify-content-md-center about-image-container">
  <div class="col-sm-12 image-container">
    <img src="http://via.placeholder.com/1250x550"/>
  </div>
  <div class="col-sm-12 col-md-9 text-center about-text">
    <p>Lorem ipsum dolorsit amet, consectetur adipiscing elit. Vivamus imperdiet malesuada arcu, a placerat ipsum dictum ut. Donec faucibus elementum purus ut placerat. Cras sollicitudin, arcu non rhoncus rutrum, mauris velit commodo tellus, nec fringilla augue tellus non neque. Fusce iaculis mattis sodales. Nam tortor eros, aliquet ac porta quis, blandit sit amet enim. Donec sed urna sit amet arcu sodales hendrerit. Aliquam odio magna, egestas accumsan laoreet ut, pellentesque et tortor. Donec elementum imperdiet libero id posuere. Suspendisse id euismod sem. </p>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras vel nunc eget dolor viverra cursus. Curabitur maximus nunc at elit blandit, at rhoncus risus convallis. Mauris consequat leo vitae metus facilisis aliquam vitae id tellus. Vivamus vel nibh ullamcorper, sollicitudin nisl sed, faucibus eros. </p>
  </div>
</div>
{% endblock %}
