{% extends 'base.twig' %}
{% block title %}About{% endblock %}
{% block container %}
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>About</h1>
  </section>
  <div class="col-sm-12">
  </div>
</div>
{% endblock %}
