{% extends 'base.twig' %}
{% block title %}O brokerze pożyczkowym | QCredit{% endblock %}
{% block post_meta_blog %}
    <meta property="og:url" content="{{ currentUrl }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="O brokerze pożyczkowym | QCredit" />
    <meta property="og:description" content="Jedna aplikacja a wiele ofert pożyczek. Bez prowizji, bez wychodzenia z domu, wszystko szybko i przez internet." />
    <meta property="og:image" content="https://www.qcredit.pl/src/images/site-image.jpg" />
    <meta name="description" content="Jedna aplikacja a wiele ofert pożyczek. Bez prowizji, bez wychodzenia z domu, wszystko szybko i przez internet."/>
{% endblock %}

{% block container %}
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>O brokerze pożyczkowym</h1>
  </section>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-5">
    <section class="row home-how about-how ">
      <div class="col-sm-12 col-lg-10 circle-block">
        <div class="circle-block-icon"><img src="src/images/icons/pen.svg" alt="Fill the form"></div>
        <div class="circle-block-text">
          <p class="circle-block-heading"><strong>Pożyczki online</strong></p>
          <p class="circle-block-description">Wniosek o pożyczkę złożysz bez żadnego wysiłku, szybko i bezpiecznie dla Ciebie. Możesz go wypełnić w wygodnym dla Ciebie miejscu, z zachowaniem prywatności i poufności jakiej wymagasz.</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-10 circle-block">
        <div class="circle-block-icon"><img src="src/images/icons/form.svg" alt="Choose the best offer"></div>
        <div class="circle-block-text">
          <p class="circle-block-heading"><strong>QCredit to pożyczka na dowolny cel</strong></p>
          <p class="circle-block-description">Tylko jeden wniosek i możesz zrealizować swój dowolny cel za gotówkę od rekomendowanego, wiarygodnego pożyczkodawcy.</p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-10 circle-block">
        <div class="circle-block-icon"><img src="src/images/icons/money.svg" alt="Get the money"></div>
        <div class="circle-block-text">
          <p class="circle-block-heading"><strong>Pieniądze od razu na Twoim koncie</strong></p>
          <p class="circle-block-description">Kolejną zaletą QCredit jest szybki przelew gotówki bezpośrednio na Twój rachunek bankowy nawet tego samego dnia!</p>
        </div>
      </div>
    </section>
  </div>
  <div class="col-sm-12 col-lg-7">
    <p class="p-head"><strong>Pożycz juz od 100 PLN do nawet 50 000 PLN na dowolny cel</strong></p>
    <p>QCredit zapewnia szybki i bezpieczny dostęp do pożyczek, które zapewnią sfinansowanie Twoich potrzeb i marzeń. Po prostu wybierz kwotę jakiej potrzebujesz składając wniosek a decyzję otrzymasz w czasie rzeczywistym.</p>
    <p>Klienci korzystają z pożyczek zazwyczaj aby dokonać dużego nieprzewidzianego w budżecie domowym zakupu, na remont lub naprawę sprzętów domowych, aby spłacić zaległe rachunki lub po prostu zapłacić na nagłe wydatki.</p>
    <p class="p-head"><strong>Złóż wniosek online, a oferty otrzymasz w ciągu 5 minut.</strong></p>
    <p>Nasz wniosek o pożyczkę jest prosty, bezpieczny i przygotowany do szybkich decyzji kredytowych. Cały proces składania wniosku zajmie Ci mniej niż 5 minut zarówno na urządzeniach z systemem Android jak i  iOS.</p>
    <p>W QCredit nie potrzebujemy żadnych dodatkowych dokumentów, aczkolwiek niektórzy pożyczkodawcy mogą oczekiwać od Ciebie przesłania dowodu, lub zaświadczenia o zatrudnieniu lub dochodach.</p>
    <p class="p-head"><strong>Podpisz umowę i ciesz się gotówką</strong></p>
    <p>Wystarczy, że wybierzesz pożyczkodawcę z listy, przeczytasz I podpiszesz umowę, a pieniądze zazwyczaj są tego samego dnia przekazywane na Twój rachunek bankowy.</p>
  </div>
</div>
<div class="row">
<p class="col-sm-12 quote-text text-center">“Celem QCredit jest pomoc w uzdrowieniu Twoich finansów”</p>
</div>
<div class="row">
  <section class="col-sm-12 text-center">
    <h2>O nas</h2>
  </section>
  <div class="col-sm-12 col-md-12 col-lg-6 home-about-half home-about-left about-text">
    <p>QCredit oferuje szeroki zakres rozwiązań dla osób szukających dodatkowego finansowania. Dzięki szybkiemu procesowi online jesteśmy w stanie szybko dopasować dla Ciebie odpowiedniego pożyczkodawcę.</p>
    <p>Bez względu na cel pożyczki, czy to na zakup samochodu, remont mieszkania, wczasy, spłatę wcześniejszego zadłużenia, lub spełnienia Twoich innych marzeń, QCredit pomaga zaoszczędzić Ci czas i wysiłek w wypełnianiu wielu wniosków u wielu pożyczkodawców. Dzięki QCredit będziesz mieć większą szansę na szybkie uzyskanie pożyczki.</p>
    <p>QCredit jest wiodącą isnstytucją finansową w Europe, która pomaga Klientom w pozyskaniu dodatkowej gotówki. Wykorzystujemy innowacyjne rozwiązania technologiczne ułatwiające Klientom proces pozyskiwania środków, współpracujemy z wieloma wiarygodnymi pożyczkodawcami, dzięki czemu możemy przygotować wysokiej jakości ofertę dostosowaną do Twoich potrzeb.</p>
    <p>Nowa platforma QCredit to znacznie więcej niż tradycyjne pożyczki online, to wykorzystanie najnowszej technologii i zaawansowanych rozwiązań w celu dopasowania najlepszej oferty dla każdego Klienta.</p>
  </div>
  <div class="col-sm-12 col-lg-6 home-about-half home-about-right image-container about-image-container-2">
    <img srcset="src/images/img_comp_2_sm.jpg 450w,
           src/images/img_comp_2.jpg 773w"
   sizes="(max-width: 420px) 400px,
          773px"
   src="src/images/img_comp_2.jpg" alt="Qcredit image compilation">
  </div>
</div>
{% endblock %}
