<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="876809952895-e1h19b6f0ia8tjlqu2ohta05k2stseaf.apps.googleusercontent.com">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/src/styles/admin.css">
    <title>{{ block('title') }}</title>
</head>
<body>
  <header class="page-header">
      <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/admin"><img class="navbar-brand" src="/src/images/crm_broker_logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/applications">Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/admin/partners">Partners</a>
          </li>
        </ul>
        <div class="login-info my-2 my-lg-0">
         <span><strong>{{ user.email }}</strong></span>
         {% if user.email %}<a class="nav-logout" href="/admin/logout" onclick="signOut();">Logout</a>{% endif %}
       </div>
      </div>
    </nav>
  </header>
  <div class="container">
      {% block container %}
      {% endblock %}
  </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/src/scripts/admin.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=initAuth" async defer></script>
{% if block('endBody') is defined %}
  {{ block('endBody') }}
{% endif %}
</body>
</html>
