{% extends 'base.twig' %}
{% block title %}Contact{% endblock %}
{% block container %}
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>Contact</h1>
  </section>
  <div class="col-sm-12 col-md-6 col-lg-4 contact-page-blocks">
    <div class="row">
      <div class="col-sm-12 col-lg-9 circle-block">
        <a href="mailto:broker@broker.pl">
          <div class="circle-block-icon"><img src="src/images/ic_mail.svg" alt="email"></div>
        </a>
        <div class="circle-block-text">
          <span class="circle-block-step text-uppercase">&nbsp;</span>
          <p class="circle-block-heading"><strong>Email</strong></p>
          <p class="circle-block-description"><a href="mailto:broker@broker.pl">broker@broker.pl</a></p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-9 circle-block">
        <a href="tel:0564783131">
          <div class="circle-block-icon"><img src="src/images/ic_phone.svg" alt="Phone"></div>
        </a>
        <div class="circle-block-text">
          <span class="circle-block-step text-uppercase">&nbsp;</span>
          <p class="circle-block-heading"><strong>Telefon</strong></p>
          <p class="circle-block-description"><a href="tel:0564783131">0564783131</a></p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-9 circle-block">
        <div class="circle-block-icon"><img src="src/images/ic_location.svg" alt="Location"></div>
        <div class="circle-block-text">
          <span class="circle-block-step text-uppercase">&nbsp;</span>
          <p class="circle-block-heading"><strong>Adres</strong></p>
          <p class="circle-block-description">Lorem ipsum 28-2, Tallinn, 15554 Estonia</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <form action="" class="contact-form" method="post">
      <div class="field text name">
        <label for="">Insert your name*</label>
          <input type="text" name="name" id="name"/>
      </div>
      <div class="field text emailaddress">
        <label for="">Insert your email*</label>
          <input type="text" name="email" id="emailaddress"/>
      </div>
      <div class="field textarea email">
        <label for="">Insert your message*</label>
        <textarea name="message" id="message"></textarea>
      </div>
      <div class="field submit">
        <button class="btn broker-btn broker-btn-gold">Send</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
