{% extends 'base.twig' %}
{% block title %}Broker{% endblock %}
{% block hero %}
<section class="row home-hero">
  <div class="col-sm-12 col-md-5 home-hero-half home-hero-left">
    <h2>Leverage agile frameworks</h2>
    <p>Provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
  </div>
  <div class="col-sm-12 col-md-7 home-hero-half home-hero-right">
    <form class="landing-form">
      <div class="landing-form-upper">
        <!-- Landing form for laptop/desktop devices -->
        {% include '$sliders.twig' %}
      </div>
      <div class="landing-form-lower">
        <div class="landing-inputs form-fields">
          <div class="field text firstName">
            <label for="">Insert your first name*</label>
            <input type="text">
          </div>
          <div class="field text email">
            <label for="">Insert your email address*</label>
            <input type="text">
          </div>
        </div>
        <div class="landing-form-lower-footer">
          <p class="landing-terms">*Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. </p>
          <button class="btn broker-btn broker-btn-gold">Apply for a loan</button>
        </div>
      </div>
    </form>
</section>
<section class="row home-partners"></section>
{% endblock %}
{% block container %}
  <section class="row home-how">
    <h1 class="col-sm-12 text-center">How it works?</h1>
    <div class="col-sm-12 col-lg-4 circle-block">
      <div class="circle-block-icon"><img src="src/images/step_icon.svg" alt="Step"></div>
      <div class="circle-block-text">
        <span class="circle-block-step text-uppercase">Step 1</span>
        <p class="circle-block-heading"><strong>Fill in the application</strong></p>
        <p class="circle-block-description">Bring to the table win-win survival strategies to ensure proactive domination.</p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 circle-block">
      <div class="circle-block-icon"><img src="src/images/step_icon.svg" alt="Step"></div>
      <div class="circle-block-text">
        <span class="circle-block-step text-uppercase">Step 2</span>
        <p class="circle-block-heading"><strong>Choose the best offer</strong></p>
        <p class="circle-block-description">Bring to the table win-win survival strategies to ensure proactive domination.</p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 circle-block">
      <div class="circle-block-icon"><img src="src/images/step_icon.svg" alt="Step"></div>
      <div class="circle-block-text">
        <span class="circle-block-step text-uppercase">Step 3</span>
        <p class="circle-block-heading"><strong>Get the money</strong></p>
        <p class="circle-block-description">Bring to the table win-win survival strategies to ensure proactive domination.</p>
      </div>
    </div>
  </section>
  <section class="row home-about">
    <h1 class="col-sm-12 text-center">About Brokers</h1>
    <div class="col-sm-12 col-lg-6 home-about-left">
      <p><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Vivamus imperdiet malesuada arcu, a placerat ipsum dictum ut. Donec faucibus elementum purus ut placerat. Cras sollicitudin, arcu non rhoncus rutrum, mauris velit commodo tellus, nec fringilla augue tellus non neque. Fusce iaculis mattis sodales. Nam tortor eros, aliquet ac porta quis, blandit sit amet enim. Donec sed urna sit amet arcu sodales hendrerit. Aliquam odio magna, egestas accumsan laoreet ut, pellentesque et tortor. Donec elementum imperdiet libero id posuere. Suspendisse id euismod sem. </p>
      <p><strong>Vestibulum ante</strong> ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras vel nunc eget dolor viverra cursus. Curabitur maximus nunc at elit blandit, at rhoncus risus convallis. Mauris consequat leo vitae metus facilisis aliquam vitae id tellus. Vivamus vel nibh ullamcorper, sollicitudin nisl sed, faucibus eros. </p>
      <p><strong>Proin a orci vel libero</strong> luctus mattis at ac risus. Integer congue, eros a facilisis placerat, urna ligula varius massa, non suscipit diam ligula vitae erat. Maecenas ex ante, rutrum vel leo ac, dictum dignissim est. Donec posuere scelerisque tellus, a accumsan ex. Integer tellus eros, efficitur et rhon cus quis, mattis eu eros. Curabitur nec justo eget magna porttitor bibendum quis <a href="#">vitae lorem.</a></p>
    </div>
    <div class="col-sm-12 col-lg-6 home-about-right">
      <img src="http://via.placeholder.com/500x500" alt="">
    </div>
  </section>
{% endblock %}
