{% extends 'base.twig' %}
{% block title %}Polityka Prywatności{% endblock %}

{% block container %}
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>Polityka Prywatności</h1>
  </section>
  <div class="col-sm-12 terms-container">
    <p>Niniejsza polityka prywatności określa sposób wykorzystania i ochrony przez Q Credit Sp. z o.o. (QCredit) wszelkich informacji przekazanych QCredit przez użytkownika w ramach korzystania z niniejszej strony internetowej. QCredit zobowiązuje się do zapewnienia ochrony Twojej prywatności. Dane uzyskiwane od użytkownika w celu jego identyfikacji przy korzystaniu z tej strony internetowej, użyte będą wyłącznie zgodnie z niniejszą Polityką prywatności. QCredit może dokonywać zmian w niniejszym dokumencie, zgodnie ze stosownymi regulacjami prawnymi. Rekomendujemy zatem zapoznawanie się z treścią niniejszej Polityki prywatności w celu pozyskania informacji na temat aktualnie stosowanych zasad ochrony prywatności użytkowników serwisu.</p>
    <p>Polityka prywatności w niniejszym brzmieniu obowiązuje od 1 czerwiec 2018 roku.</p>

    <h5>Jakie informacje gromadzimy</h5>
    <p><strong>Możemy gromadzić następujące dane:</strong></p>
    <ul>
        <li>Imię i nazwisko oraz stanowisko</li>
        <li>Dane kontaktowe, w tym adres mailowy</li>
        <li>Dane demograficzne, takie jak kod pocztowy, preferencje i zainteresowania</li>
        <li>Inne dane związane z identyfikacją klienta, obsługą konta klienta oraz analizą ryzyka kredytowego.</li>
    </ul>

    <h5>Co robimy ze zgromadzonymi danymi</h5>
    <p>Powyższe informacje są nam potrzebne by móc zrozumieć Twoje potrzeby, zapewnić Ci lepszą obsługę oraz lepsze produkty i usługi.</p>
    <p>Po uzyskaniu Twojej zgody, możemy okresowo przesyłać Ci na podany przez Ciebie adres mailowy informacje o nowych produktach, ofertach specjalnych jak również inne informacje, które naszym zdaniem mogą Cię zainteresować.</p>
    <p>Od czasu do czasu możemy również korzystając z podanych przez Ciebie danych adresowych skontaktować się z Tobą przy użyciu poczty internetowej, telefonu, faksu lub też poczty tradycyjnej w celu przeprowadzenia badania rynkowego. Możemy też wykorzystać Twoje dane do dostosowania naszej strony internetowej do Twoich zainteresowań.</p>

    <h5>Bezpieczeństwo</h5>
    <p>Przywiązujemy ogromną wagę do zapewnienia bezpieczeństwa informacjom otrzymanym od Ciebie. W celu uniemożliwienia osobom trzecim dostępu do informacji lub ich ujawnienia stosujemy procedury fizyczne, elektroniczne i zarządcze, które chronią informacje zebrane przez nas online.</p>

    <h5>Linki do innych stron internetowych</h5>
    <p>Nasz strona może zawierać linki do innych powiązanych stron internetowych. Należy jednak pamiętać, iż w momencie skorzystania przez Ciebie z danego linku i opuszczenia naszej strony internetowej tracimy kontrolę nad Twoimi danymi. Oznacza to, iż nie ponosimy odpowiedzialności za ochronę i prywatność informacji, jakie podajesz podczas odwiedzania tychże stron oraz że niniejsza polityka prywatności nie ma w takim przypadku zastosowania. Należy zatem zachować ostrożność i zapoznać się z polityką prywatności obowiązującą na danej stronie internetowej.</p>

    <h5>Kontrolowanie danych osobowych</h5>
    <p>Każdy użytkownik ma możliwość ograniczenia gromadzenia oraz wykorzystania swoich danych poprzez odmowę udzielenie zgody na wykorzystanie informacji do bezpośrednich celów marketingowych (za każdym razem, gdy jest się poproszonym o wypełnienie formularza znajdującego się na stronie internetowej należy znaleźć okienko, w którym można zaznaczyć, iż nie wyraża się zgody.)</p>
    <p>Jeśli wcześniej wyraziłeś zgodę na wykorzystanie przez nas Twoich danych osobowych do bezpośrednich celów marketingowych, w dowolnym czasie istnieje możliwość zmiany decyzji poprzez pisemny kontakt z nami.</p>
    <p>Nie odsprzedajemy, nie dystrybuujemy ani nie wypożyczamy Twoich danych osobowych osobom trzecim, chyba że za Twoim pozwoleniem lub gdy jest to wymagane przez prawo. Możemy jednak wykorzystać Twoje dane w celu przesłania Ci informacji promocyjnej na temat innych ofert, które naszym zdaniem mogłyby Cię zainteresować, jeśli wyrazisz na to zgodę. W przypadku, gdy uznasz, że jakakolwiek przechowywana przez nas informacja na Twój temat jest nieprawidłowa lub niekompletna, prosimy o jak najszybszy kontakt mailowy na powyższy adres, a my natychmiast dokonamy niezbędnych poprawek.</p>
  </div>
</div>
{% endblock %}
