{% extends 'base.twig' %}
{% block title %}Polityka coockies brokera pożyczkowego | QCredit{% endblock %}
{% block post_meta_blog %}
    <meta property="og:url" content="{{ currentUrl }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Polityka coockies brokera pożyczkowego | QCredit" />
    <meta property="og:description" content="Nasza polityka cookies. Podaj nam swoje dane, zapewniamy Ci najlepsze oferty pożyczek za pomocą jednego kliknięcia!" />
    <meta property="og:image" content="https://www.qcredit.pl/src/images/site-image.jpg" />
    <meta name="description" content="Nasza polityka cookies. Podaj nam swoje dane, zapewniamy Ci najlepsze oferty pożyczek za pomocą jednego kliknięcia!"/>
{% endblock %}

{% block container %}
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>Polityka cookies</h1>
  </section>
  <div class="col-sm-12 terms-container">
    <ol>
      <li>Witryna qcredit.pl zbiera w sposób automatyczny informacje zawarte w plikach cookies.</li>
      <li>Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Witryny i przeznaczone są do korzystania ze stron internetowych Witryny. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</li>
      <li>Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika Witryny.</li>
      <li>Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Witryny pliki cookies oraz uzyskującym do nich dostęp jest operator Witryny qcredit.pl z siedzibą pod adresem: Q Credit Sp. z o.o. ul. Hrubieszowska 6A 01-209 Warszawa</li>
      <li>Pliki cookies wykorzystywane są w celu: a) dostosowania zawartości stron internetowych Witryny do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych; w szczególności pliki te pozwalają rozpoznać urządzenie Użytkownika Witryny i odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb; b) tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Witryny korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości; c) utrzymanie sesji Użytkownika Witryny (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Witryny ponownie wpisywać loginu i hasła. ramach e) dostarczania odwiedzającym reklam odpowiadającym ich zainteresowaniom oraz ograniczania liczby wyświetleń danej reklamy. Te ciasteczka pozwalają także mierzyć efektywność kampanii reklamowych.</li>
      <li>W ramach Witryny stosowane są następujące rodzaje plików cookies: a) „niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach Witryny, np. uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania w ramach Witryny; b) pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania w ramach Witryny; c) „wydajnościowe” pliki cookies, umożliwiające zbieranie informacji o sposobie korzystania ze stron internetowych Witryny; d) „funkcjonalne” pliki cookies, umożliwiające „zapamiętanie” wybranych przez Użytkownika ustawień i personalizację interfejsu Użytkownika, np. w zakresie wybranego języka lub regionu, z którego pochodzi Użytkownik, rozmiaru czcionki, wyglądu strony internetowej itp.; e) „reklamowe” pliki cookies, umożliwiające dostarczanie Użytkownikom treści reklamowych bardziej dostosowanych do ich zainteresowań.</li>
      <li>W wielu przypadkach oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Witryny mogą dokonać w każdym czasie zmiany ustawień dotyczących plików cookies. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu w urządzeniu Użytkownika Witryny. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).</li>
      <li>Operator Witryny informuje, że ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Witryny.</li>
      <li>Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Witryny i wykorzystywane mogą być również przez współpracujących z operatorem Witryny reklamodawców oraz partnerów (np. Facebook Google, Adexon).</li>
      <li>Więcej informacji na temat plików cookies dostępnych jest w sekcji „Pomoc” w menu przeglądarki internetowej.</li>
    </ol>
  </div>
</div>
{% endblock %}
