{% extends 'base.twig' %}
{% block title %}Polityka Prywatności{% endblock %}

{% block container %}
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>Polityka Prywatności</h1>
  </section>
  <div class="col-sm-12 terms-container">
    <p>Niniejsza polityka prywatności określa sposób wykorzystania i ochrony przez Q Credit Sp. z o.o. (QCredit) wszelkich informacji przekazanych QCredit przez użytkownika w ramach korzystania z niniejszej strony internetowej. QCredit zobowiązuje się do zapewnienia ochrony Twojej prywatności. Dane uzyskiwane od użytkownika w celu jego identyfikacji przy korzystaniu z tej strony internetowej, użyte będą wyłącznie zgodnie z niniejszą Polityką prywatności. QCredit może dokonywać zmian w niniejszym dokumencie, zgodnie ze stosownymi regulacjami prawnymi. Rekomendujemy zatem zapoznawanie się z treścią niniejszej Polityki prywatności w celu pozyskania informacji na temat aktualnie stosowanych zasad ochrony prywatności użytkowników serwisu.</p>
    <p>Polityka prywatności w niniejszym brzmieniu obowiązuje od 1 czerwiec 2018 roku.</p>

    <h5>Jakie informacje gromadzimy?</h5>
    <p><strong>Możemy gromadzić następujące dane:</strong></p>
    <ul>
        <li>Imię i nazwisko oraz stanowisko</li>
        <li>Dane kontaktowe, w tym adres mailowy</li>
        <li>Dane demograficzne, takie jak kod pocztowy, preferencje i zainteresowania</li>
        <li>Inne dane związane z identyfikacją klienta, obsługą konta klienta oraz analizą ryzyka kredytowego.</li>
    </ul>

    <h5>Co robimy ze zgromadzonymi danymi?</h5>
    <p>Powyższe informacje są nam potrzebne by móc zrozumieć Twoje potrzeby, zapewnić Ci lepszą obsługę oraz lepsze produkty i usługi.</p>
    <p>Po uzyskaniu Twojej zgody, możemy okresowo przesyłać Ci na podany przez Ciebie adres mailowy informacje o nowych produktach, ofertach specjalnych jak również inne informacje, które naszym zdaniem mogą Cię zainteresować.</p>
    <p>Od czasu do czasu możemy również korzystając z podanych przez Ciebie danych adresowych skontaktować się z Tobą przy użyciu poczty internetowej, telefonu, faksu lub też poczty tradycyjnej w celu przeprowadzenia badania rynkowego. Możemy też wykorzystać Twoje dane do dostosowania naszej strony internetowej do Twoich zainteresowań.</p>

    <h5>Bezpieczeństwo</h5>
    <p>Przywiązujemy ogromną wagę do zapewnienia bezpieczeństwa informacjom otrzymanym od Ciebie. W celu uniemożliwienia osobom trzecim dostępu do informacji lub ich ujawnienia stosujemy procedury fizyczne, elektroniczne i zarządcze, które chronią informacje zebrane przez nas online.</p>

    <h5>Linki do innych stron internetowych</h5>
    <p>Nasz strona może zawierać linki do innych powiązanych stron internetowych. Należy jednak pamiętać, iż w momencie skorzystania przez Ciebie z danego linku i opuszczenia naszej strony internetowej tracimy kontrolę nad Twoimi danymi. Oznacza to, iż nie ponosimy odpowiedzialności za ochronę i prywatność informacji, jakie podajesz podczas odwiedzania tychże stron oraz że niniejsza polityka prywatności nie ma w takim przypadku zastosowania. Należy zatem zachować ostrożność i zapoznać się z polityką prywatności obowiązującą na danej stronie internetowej.</p>

    <h5>Prawa i obowiązki Administratora Danych</h5>
    <p>Administrator przetwarza Twoje dane osobowe jako Użytkownika serwisu z zachowaniem wymogów Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (t.j. Dz. U. z 2016 r. poz. 922)</p>
    <p>Administrator zapewnienia odpowiednie środki techniczne i organizacyjne gwarantujące bezpieczeństwo przetwarzanych danych osobowych, w szczególności uniemożliwiających dostęp do nich nieuprawnionym osobom trzecim, lub ich przetwarzania z naruszeniem przepisów powszechnie obowiązującego prawa, zapobiegających utracie danych osobowych, ich uszkodzeniu lub zniszczeniu.</p>
    <p>Jako Użytkownik masz prawo dostępu do swoich danych osobowych za pośrednictwem strony internetowej.</p>
    <p>Możesz w każdej chwili dokonać modyfikacji, zmiany, uzupełnienia lub usunięcia udostępnionych danych osobowych, za pośrednictwem narządzi dostępnych na stronie internatowej.</p>
    <p>W przypadku trwałego usunięcia przez Ciebie jako Użytkownika, Twoich danych osobowych, koniecznych do realizacji przez Administratora usług świadczonych za pośrednictwem strony internetowej, jako Użytkownik tracisz możliwość korzystania z usług świadczonych przez stronę internetową.</p>

    <h5>Prawa i obowiązki Użytkownika Serwisu</h5>
    <p>Masz prawo zażądać od Administratora modyfikacji, poprawienia lub usunięcia wszelkich przetwarzanych danych osobowych. Administrator stosuje się do takich wniosków, jeżeli jest to zgodne z ogólnie przyjętymi przepisami prawa.</p>
    <p>Jako Użytkownik możesz wyrazić sprzeciw wobec dalszego przetwarzania danych osobowych. Administrator stosuje się do takich wniosków, jeżeli jest to zgodne z ogólnie przyjętymi przepisami prawa.</p>
    <p>Możesz  również w dowolnym czasie pozyskać od Administratora zapis swoich danych osobowych podczas przetwarzania, w tym informacje o tym przetwarzaniu.</p>
    <p>Jako Użytkownik możesz pozyskać dane osobowe przetwarzane przez Administratora  w formacie ogólnie używanym i zgodnym z obowiązującymi przepisami prawa.</p>

    <h5>Postanowienia końcowe</h5>
    <p>Jako Użytkownik korzystający z serwisu, akceptujesz zasady opisane w niniejszym dokumencie.</p>
    <p>Administrator zastrzega sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności, jednocześnie zapewnia, że Twoje Prawa jako Użytkownika wynikające z niniejszego dokumentu nie zostaną ograniczone bez jego zgody.</p>
    <p>Wszelkie zmiany dotyczące Polityki prywatności będą publikowane na stronie internetowej Administratora.</p>

    <h5>Informacje kontaktowe:</h5>
    <p>W celu wykonania Twoich praw wskazanych w niniejszym dokumencie możesz skontaktować się z Administratorem pod adresem wskazanym na stronie internetowej: <a href="https://www.qcredit.pl/kontakt" target="_blank">https://www.qcredit.pl/kontakt</a></p>
  </div>
</div>
{% endblock %}
