{% extends 'base.twig' %}
{% block title %}Regulamin świadczenia usług drogą elektroniczną | QCredit{% endblock %}
{% block post_meta_blog %}
    <meta property="og:url" content="{{ currentUrl }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Regulamin świadczenia usług drogą elektroniczną | QCredit" />
    <meta property="og:description" content="Regulamin świadczenia usług drogą elektroniczną" />
    <meta property="og:image" content="https://www.qcredit.pl/src/images/site-image.jpg" />
    <meta name="description" content="Regulamin świadczenia usług drogą elektroniczną"/>
{% endblock %}

{% block container %}
<div class="row justify-content-lg-center">
  <section class="col-sm-12 text-center">
    <h1>Regulamin świadczenia usług drogą elektroniczną</h1>
  </section>
  <div class="col-sm-12 terms-container">
    <h5>Regulamin świadczenia usług drogą elektroniczną przez Q Credit Sp. z o.o.</h5>
    <p>QCredit Sp. z o.o. z siedzibą przy ul. Hrubieszowska 6A, 01-209 Warszawa, ustala regulamin świadczenia usług drogą elektroniczną w zakresie udostępniania informacji o QCredit
Sp. z o.o.(zwany dalej „Regulaminem”).</p>

    <h5>§ 1 Postanowienia ogólne</h5>
    <ol>
        <li>Przez pojęcia użyte w Regulaminie rozumie się:
          <ol type="a">
            <li><strong>Q Credit</strong> -  Q Credit Sp. z. o.o z siedzibą w Warszawie, przy ul. Hrubieszowskiej 6 A, (01- 209 Warszawa) wpisaną do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego prowadzonego przez Sąd Rejonowy dla m.st. Warszawy w Warszawie XII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS 0000720680, z kapitałem zakładowym w wysokości 5 000,00 PLN (wpłacony w całości), NIP: 5272840521, działająca jako Pośrednik Kredytowy świadczący usługi drogą elektroniczną na rzecz Klientów z wykorzystaniem Systemu teleinformatycznego;</li>
            <li><strong>Klient</strong> – osoba fizyczna lub osoba prowadząca działalność gospodarczą korzystająca z usług Pośrednika, świadczonych drogą elektroniczną za pośrednictwem serwisu na podstawie niniejszego Regulaminu, która jest zainteresowana uzyskaniem Pożyczki u Współpracującego Pożyczkodawcy z QCredit;</li>
            <li><strong>Współpracujący Pożyczkodawca</strong> – Pożyczkodawca: AASA Polska Spółka Akcyjna z siedzibą w Warszawie, przy ul. Hrubieszowskiej 2 (01-209 Warszawa) wpisaną do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego prowadzonego przez Sąd Rejonowy dla m.st. Warszawy w Warszawie XII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS 0000411939, z kapitałem zakładowym w wysokości 42.000.000,00 PLN (wpłacony w całości), NIP: 525-252-81-11,</li>
            <li><strong>Serwis</strong> - zespół powiązanych ze sobą stron internetowych dostępnych pod adresem www.qcreduit.pl przy wykorzystaniu urządzeń teletechnicznych umożliwiających dostęp do sieci Internet;</li>
            <li><strong>System teleinformatyczny</strong> - zespół współpracujących ze sobą urządzeń informatycznych i oprogramowania zapewniający przetwarzanie i przechowywanie, a także wysyłanie i odbieranie danych poprzez sieci telekomunikacyjne za pomocą właściwego dla danego rodzaju sieci urządzenia końcowego w rozumieniu przepisów regulujących działalność telekomunikacyjną;</li>
            <li><strong>Świadczenie usługi drogą elektroniczną</strong> - wykonywanie usługi na rzecz Klienta, które następuje poprzez wysyłanie i odbieranie danych za pomocą Systemów teleinformatycznych, na indywidualne żądanie Klienta, bez jednoczesnej obecności stron, przy czym dane te są transmitowane za pośrednictwem sieci publicznych w rozumieniu przepisów regulujących działalność telekomunikacyjną;</li>
          </ol>
        </li>
        <li>Regulamin określa:
          <ol type="a">
            <li>rodzaje i zakres usług świadczonych drogą elektroniczną;</li>
            <li>warunki zawierania umów o świadczenie usług drogą elektroniczną;</li>
            <li>warunki świadczenia usług drogą elektroniczną;</li>
            <li>wymagania techniczne niezbędne do współpracy z Systemem teleinformatycznym w odniesieniu do usług określonych w Regulaminie;</li>
            <li>tryb postępowania reklamacyjnego.</li>
            <li>W sprawach nieuregulowanych w Regulaminie mają zastosowanie powszechnie obowiązujące przepisy prawa.</li>
          </ol>
        </li>
    </ol>

    <h5>§ 2 Rodzaje i zakres usług świadczonych drogą elektroniczną</h5>
    <ol>
      <li>QCredit wykorzystuje Serwis, w celach marketingowych, a także udzielania informacji o oferowanych przez Współpracującego Pożyczkodawcę produktach i usługach.</li>
      <li>Treść Serwisu nie może być rozumiana jako złożenie przez QCredit  oświadczenia woli w odniesieniu do poszczególnych Klientów w zakresie udostępnienia jakiegokolwiek Produktu oferowanego przez Współpracującego Pożyczkodawcę.</li>
    </ol>

    <h5>§ 3 Wymagania techniczne niezbędne do korzystania z Serwisu</h5>
    <ol>
      <li>W celu prawidłowego korzystania z Serwisu wymagane jest używanie oprogramowania, sprzętu i narzędzi niezbędnych do korzystania z Internetu. Połączenie z Serwisem jest szyfrowane.</li>
    </ol>

    <h5>§ 4 Warunki świadczenia usług drogą elektroniczną</h5>
    <ol>
      <li>QCredit świadczy usługi drogą elektroniczną zgodnie z zasadami określonymi w Regulaminie.</li>
      <li>Klient korzystający z Serwisu nie jest zobowiązany do ponoszenia żadnych opłat za udostępnienie treści zamieszczonych w Serwisie. Klient ponosi natomiast koszty połączeń z Serwisem według taryf stosowanych przez operatorów obsługujących jego połączenia.</li>
      <li>Regulamin udostępniony jest Klientowi nieodpłatnie w Serwisie.</li>
      <li>Świadczenie usługi drogą elektroniczną jest zabezpieczone przed dostępem osób trzecich przy wykorzystaniu narzędzi powszechnie uznawanych na zapewniające odpowiedni poziom bezpieczeństwa.</li>
      <li>Zakazane jest podejmowanie prób wprowadzania jakichkolwiek modyfikacji do treści zamieszczonych w Serwisie, a także dostarczanie treści o charakterze bezprawnym, w szczególności treści obraźliwych, nieprawdziwych lub mogących wprowadzić w błąd.</li>
      <li>Informacje zawarte w Serwisie nie stanowią oferty w rozumieniu przepisów Kodeksu cywilnego.</li>
    </ol>

    <h5>§ 5 Postępowanie reklamacyjne</h5>
      <ol>
        <li>Klientowi przysługuje prawo złożenia reklamacji w sprawach związanych z funkcjonowaniem Serwisu.</li>
        <li>Reklamacje dotyczące funkcjonowania Serwisu należy składać w formie pisemnej na adres QCredit Sp. z o.o. , ul. Hrubieszowska 6 A, 01-209 Warszawa.</li>
        <li>QCredit może zwrócić się z prośbą do Klienta o złożenie dodatkowych wyjaśnień dotyczących reklamacji oraz o dostarczenie dodatkowych dokumentów służących do zbadania zasadności reklamacji.</li>
        <li>QCredit udziela odpowiedzi na złożoną reklamację w terminie nie dłuższym niż 30 dni.</li>
        <li>Wszystkie przesyłki należy kierować na adres: ul. Hrubieszowska 6 A, 01-205 Warszawa.</li>
      </ol>

    <h5>§ 6 Postanowienia końcowe</h5>
      <ol>
        <li>Serwis zawiera treści chronione prawem autorskim, prawem własności przemysłowej oraz dobra niematerialne chronione prawem własności intelektualnej. Żadna z tych treści, w szczególności tekst, grafika, znaki towarowe, logotypy, ikony, zdjęcia, programy, prezentowane w Serwisie nie mogą być powielane ani rozpowszechniane w żadnej formie i w żaden sposób bez uprzedniego zezwolenia. Klient zobowiązuje się do wykorzystywania treści Serwisu wyłącznie do dozwolonego użytku własnego.</li>
        <li>Regulamin może zostać zmieniony w każdym czasie przy uwzględnieniu przepisów zawartych w Kodeksie cywilnym i innych stosownych uregulowaniach. W przypadku zmiany Regulaminu treść w zmienionym brzmieniu będzie dostępna w Serwisie.</li>
      </ol>
  </div>
</div>
{% endblock %}
