<IfModule !mod_rewrite.c>
  Order Deny,Allow
  Deny from All
  Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
  # Do not allow access to this directory
  RewriteRule (.*) http://%{HTTP_HOST}/ [R=301,L]
</IfModule>
